body {
  font-family: Poppins, sans-serif;
  background: #12101d;
}
footer {
  background-image: linear-gradient(
      rgba(15, 13, 27, 0.85),
      rgba(15, 13, 27, 0.85)
    ),
    url("../img/footer-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
}
footer h3 {
  font-size: 20px;
  font-weight: 700;
  line-height: 30px;
}
footer p {
  font-weight: 400;
  font-size: 16px;
  opacity: 0.7;
  line-height: 24px;
}

footer ul {
  padding: 0;
}

footer li {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer a {
  color: white;
  opacity: 0.7;
  transition: all 200ms ease-in-out;
}
footer a:hover {
  opacity: 1;
}
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/lacrosse-hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  text-align: center;
  padding: 200px 0;
}
header a {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  color: #272044;
  padding: 16px 32px;
  margin-top: 32px;
  display: inline-block;
  letter-spacing: 3px;
  text-decoration: none;
  text-transform: uppercase;
  background: white;
  transition: all 200ms ease-in-out;
}
header a:hover {
  color: white;
  background: transparent;
  border: 5px solid white;
}
header h1 {
  font-size: 96px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 0em;
  margin: 30px 0;
}
header h2 {
  font-size: 40px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0em;
  margin: 0;
}
header h3 {
  font-size: 24px;
  font-weight: 900;
  line-height: 1.5;
  letter-spacing: 5px;
  margin: 0;
}
main {
  color: white;
}
main h3 {
  font-size: 16px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 5px;
  text-align: left;
  opacity: 30%;
  margin: 0;
  margin-bottom: 20px;
  text-transform: uppercase;
}
main h4 {
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  text-align: left;
  margin: 0;
}
main h5 {
  font-size: 13px;
  font-weight: 700;
  line-height: 20px;
  text-align: left;
  margin: 0;
}
section {
  max-width: 100%;
  margin: 0 auto;
  padding: 100px;
}
.btn {
  display: block;
  color: white;
  font-weight: 700;
  font-size: 14px;
  line-height: 21px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
  padding: 16px;
  background-color: #462cb3;
  text-decoration: none;
}
.card {
  background: #272435;
}
.card p {
  opacity: 70%;
}
.card-header.grid {
  grid-gap: 0;
}
.card-body {
  padding: 30px;
}
.card-footer {
  padding: 0 30px 30px;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
}
.embed {
  width: 100%;
  aspect-ratio: 1 / 1;
}
.grid {
  display: grid;
  grid-gap: 32px;
}
.grid-2-columns {
  grid-template-columns: 1fr 1fr;
}
.grid-3-columns {
  grid-template-columns: 1fr 1fr 1fr;
}
.grid-3-columns-first-narrow {
  grid-template-columns: 1fr 2fr 2fr;
}
.img-responsive {
  width: 100%;
  display: block;
}
.primary h2 {
  font-size: 40px;
  font-weight: 700;
  line-height: 1;
  text-align: left;
  margin: 0;
}
.primary p {
  font-size: 16px;
  font-weight: 400;
  line-height: 1.75;
  text-align: left;
  opacity: 70%;
}
section.secondary {
  background: #181525;
}
.secondary h3 {
  text-align: center;
}
.secondary h2 {
  font-size: 48px;
  font-weight: 700;
  line-height: 1;
  text-align: center;
  margin-bottom: 60px;
}
.tertiary {
  text-align: center;
}
.tertiary h3 {
  text-align: center;
}

@media (max-width: 900px) {
  header {
    padding: 60px 0;
  }
  header h1 {
    font-size: 48px;
  }
  header h2 {
    font-size: 20px;
  }
  header h3 {
    font-size: 12px;
  }
  section {
    padding: 40px;
  }
  .card-header img {
    display: none;
  }
  .embed {
    aspect-ratio: 16 / 9;
  }
  .grid {
    grid-template-columns: 1fr;
    grid-gap: 32px;
  }
}
